@font-face {
  font-family: "Alata";
  src: url("./assets/fonts/Alata/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "JosefinSans";
  src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0px;
}
